/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Mooli&family=Oswald:wght@300;400;500;600;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,300&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	font-family: 'Oswald', sans-serif;
}

body {
	background-color: black;
}

header nav {
	display: flex;
	justify-content: center;
	gap: 3%;
}

header nav button {
	background-color: transparent;
	font-size: 1.2rem;
	padding: 0 4px;
	cursor: pointer;
}

/* HOME PAGE */

#content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.7rem;
	margin: 2% 10% 0 10%;
}

#content p {
	font-size: 1.2rem;
}

.textImg {
	display: flex;
	gap: 3%;
	margin-top: 5%;
}

.textImg p {
	width: 40ch;
}

.griboedovImg {
	border-radius: 6px;
	box-shadow: 21px 15px 27px 0px rgba(255, 255, 255, 0.2);
}

.brown-snake {
	width: 25%;
	height: 80%;
	position: absolute;
	left: 0;
	border-radius: 50%;
}

.menuItems {
	list-style: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 370px 370px;
	width: 90%;
}

.menuItems li {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
}

.menuItems img {
	height: 55%;
	width: 70%;
	border-radius: 6px;
}
